<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--设置路径变量-->
    <property name="LOG_HOME" value="E:/zhang/log" />
    <!--日志输出格式-->
    <property name="LOG_FORMAT" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %msg%n" />
    <!--控制台输出-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--设置输出格式-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_FORMAT}</pattern>
        </encoder>
    </appender>

    <!--文件输出 -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/out.log</file>
        <!--文件滚动模式-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名，可设置文件类型为gz,开启文件压缩-->
            <fileNamePattern>${LOG_HOME}/info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!--日志文件保留天数-->
            <maxHistory>30</maxHistory>
            <!--按大小分割同一天的-->
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_FORMAT}</pattern>
        </encoder>
        <!--输出单个级别-->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>info</level>
            <!--接受匹配-->
            <onMatch>ACCEPT</onMatch>
            <!--拒绝不匹配的-->
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

   <!-- <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>-->

    <!--多环境日志输出-->
    <springProfile name="test,dev">
        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>
    </springProfile>
    <springProfile name="pro">
        <root level="info">
            <appender-ref ref="console" />
            <appender-ref ref="file" />
        </root>
    </springProfile>
</configuration>
