<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.first.UserRoleMapper">
    <select id="findByUserName" parameterType="string" resultType="com.example.demo.bean.Role">
        select r.id ,r.name, memo
        from t_role r
        left join t_user_role ru on r.id =  ru.rid
        left join t_user u  on u.id = ru.user_id
        where u.userName = #{userName}
    </select>
</mapper>
